<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stock List</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>銘柄ｺｰﾄﾞ</th>
        <th>銘柄</th>
        <th>評価</th>
        <th>正答率</th>
        <th>教師ﾃﾞｰﾀ数</th>
      </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
          <td>{{stock.brand_code}}</td>
          <td>{{stock.brand_desc}}</td>
          <td>{{stock.prediction}}</td>
          <td>{{stock.accuracy}}</td>
          <td>{{stock.training_data_count}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</body>
</html>